ENVIRONMENT=dev
DRIVER=~fastapi
HOST=0.0.0.0
PORT=8081
COMMAND_START = [""]

WITH_AI_AGENTS__API_KEY = <你的大模型 api key，如”sk-xxxx“>
WITH_AI_AGENTS__PLATFORM = <你的大模型平台，如”dashscope“>
WITH_AI_AGENTS__MODEL_NAME = <你的大模型名称（非必填），如”qwen-turbo“>
WITH_AI_AGENTS__TAVILY_API_KEY = <Tavily 搜索 api key（非必填），如”tvly-xxxxx“>
WITH_AI_AGENTS__MESSAGE_START = <匹配消息前缀，非必填，如果不填则默认匹配所有与 AI 有关的消息>
WITH_AI_AGENTS__PRIORITY = <插件响应优先级，非必填，如果不填则默认为 999>
